.toast {
    --toastify-icon-color-error: white;
    --toastify-color-dark: #242424;
    --toastify-color-error: rgba(255, 255, 255, 0.65);
    --toastify-color-progress-error: white;
    --toastify-color-progress-dark: white;
    font-size: 18px;
    text-align: center;
}