.DataPickerContainer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 100px;
    color: rgb(128, 128, 128);
}

.submitBtn {
    min-width: 100px;
    min-height: 42px;
    padding: 10px 10px;
    background-color: #4f4f4f;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    transition-duration: .125s;
}

.submitBtn:hover {
    color: rgba(220, 220, 220, 0.59);
    transition: none;
}

.submitBtn:active {
    color: white;
}

input[type='date'] {

    -moz-appearance: textfield;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 20px;
    cursor: text;
}

input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input[type='date']::-webkit-datetime-edit {
    padding: 5px;
}